<h1>Propietario</h1>
<table class="table table-striped">
  <tr>
    <th>Nombre</th>
    <td><b>{{owner.firstName}} {{owner.lastName}}</b></td>
  </tr>
  <tr>
    <th>Correo</th>
    <td>{{owner.address}}</td>
  </tr>
  <tr>
    <th>Ciudad</th>
    <td>{{owner.city}}</td>
  </tr>
  <tr>
    <th>Telefono</th>
    <td>{{owner.telephone}}</td>
  </tr>
</table>

<div class="form-group">
    <button class="btn btn-primary mr-4" type="submit" (click)="del(owner)">
      Eliminar Usuario
    </button>
    <a routerLink="/owners">
      <button class="btn btn-secondary" type="button" >
        Cancelar
      </button>
    </a>
</div>

