<!--The content below is only a placeholder and can be replaced.-->
<h1>Pagina Inicial</h1>


<ul>
  <li>
    <!--formas de poner ruta en angula par que vaya de un sitio a otro-->
    <a routerLink="/" routerLinkActive="active">Inicio</a>
  </li>
  <li>
    <!--formas de poner ruta (Owners)en angula par que vaya de un sitio a otro-->
    <a routerLink="/owners" routerLinkActive="active">Propietarios</a>
  </li>
  <li>
    <!--formas de poner ruta (Owners)en angula par que vaya de un sitio a otro-->
    <a routerLink="/vets" routerLinkActive="active">Veterinarias</a>
  </li>

</ul>
<router-outlet></router-outlet>


